.main{
    overflow: hidden;
    margin-left:40px;
    width: 100%;
}

.main h2{
    font-size:27px;
    font-weight:500;
}

.main .bio{
    margin-top:50px;
}

.main .bio h3,.main .knownFor h3,
.main .acting .head h3{
    font-size:15px;
    font-weight:450;
}

.main .bio p{
    margin-top:10px;
    font-size:14px;
    line-height: 1.8;
    color:#d9d9d9;
    cursor: pointer;
}

.main .bio p:hover{
    text-shadow: 2px 2px #8b8a8a;
}

.main .knownFor{
    margin-top:50px;
}

.main .knownFor .list{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
}

.main .knownFor .list .sec{
    margin-right:15px;
}

.main .knownFor .list .sec img{
    width:15vh;
    height:25vh;
    cursor: pointer;
    border-radius: 5px;
}

.main .knownFor .list .sec h4{
    font-size:14px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
}

.main .acting{
    margin-top:50px;
}

.main .acting .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}

.main .acting .head select{
    width:100px;
    height:35px;
    color:#d9d9d9;
    background-color: #181818;
}

.main .acting .head select:focus{
    outline:none;
}

.main .acting .content{
    margin-top:10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:10px 20px;
    overflow: auto;
    height:400px;
}

.main .acting .content .sec{
    margin-bottom:12px;
}

.main .acting .content .sec .in{
    width: 7%;
    display: inline-block;
}

.main .acting .content .sec .in:last-of-type{
    width:fit-content;  
}

.main .acting .content .sec h4{
    font-size:13px;
    font-weight:400;
    display: inline-block;
}

.main .acting .content .sec span{
    margin-left:20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.main .acting .content .sec span::after{
    position: absolute;
    content:"";
    top:-10px;
    left:0;
    width:13px;
    height:13px;
    border-radius: 50%;
    background-color: white;
}

.main .acting .content .sec p{
    font-size:14px;
    font-weight:450;
    margin-left:-20px;
    display: inline-block;
    line-height:1.7

}

@media(max-width:768px){
    .main{
        margin:0;
    }

    .main .bio{
        position: relative;
    }

    .main h2{
        position: relative;
    }

    .main .acting .content .sec .in{
        width: 100%;
        display: block;
    }
    
    .main .acting .content .sec span{
        display: none;
    }

    .main .acting .content .sec h4{
        margin-bottom:-10px;
    }
    
    .main .acting .content .sec p,.main .acting .content .sec h4{
        margin-left:0;
        font-size:13px;
    }
}

@media(min-width:770px) and (max-width:1400px){
    .main{
        margin:0;
    }

    .main .bio{
        position: absolute;
        left:calc(30vh + 50px);
        top:100px;
        width:50%;
        padding:0 15px;
        margin-top:70px;
    }

    .main h2{
        position: absolute;
        left:calc(30vh + 50px);
        top:100px;
        padding:0 15px;
        width:50%;
    }

    
    .main .acting .content .sec .in{
        width: 100px;
    }

    
    .main .acting .content .sec p,.main .acting .content .sec h4{
        margin-left:0;
        font-size:13px;
    }
}